extends layout

block content

	h3 Content

	ul
		each val in subnode
			li(class="#{val.type}") #{val.ftid} #{val.index}
				span.level #{val.level}
				span.name #{val.ftname}
				span.value #{val.fvalues}
